:root {
  --background: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #0077ffed;
  --text-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}

body {
  background-color: var(--background);
  min-height: 100vh;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 700px;
  width: 96%;
}

.container h1 {
  position: sticky;
  top: 0;
  background: var(--background);
  padding: 23px 0;
  z-index: 10;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

.myForm {
  position: sticky;
  top: 4.8rem; 
  background: var(--background);
  margin-bottom: 15px;
  z-index: 9;
}


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.myForm #todo-input {
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 10rem;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
  outline: none;
  transition: border-color .2s ease;
}

.myForm #todo-input:focus {
  border: 2px solid var(--accent-color);
}

.myForm #add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 10rem;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
  transition: all .2s;
}

.myForm #add-button:hover {
  background-color:#0077ffdf;
}

.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  border-radius: 4rem;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: color .2s ease;
}

.todo .delete-button {
  border: none;
  background: none;
  cursor: pointer;
}

.todo .delete-button:hover svg {
  fill: #ff0033;
  transition: all .2s ease;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 30rem;
  min-width: 23px;
  min-height: 23px;
  text-align: center;
  flex-shrink: 0;
  transition: background-color .2s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--background);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}


@media screen and (max-width: 499px) {
  html {
    font-size: 12pt;
  }  

  .myForm #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }

  .myForm {
    position: sticky;
    top: 5.5rem; 
    background: var(--background);
    margin-bottom: 15px;
    z-index: 9;
  }
}